#example {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#example table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid black;
}

#example table tr {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#example table tr:first-child {
    background: #f5f5f5;
    font-weight: bold;
}

#example table td {
    border: 1px solid black;
    border-top: none;
   border-bottom: none;
   border-right: none;
    flex: 1;
    word-break: break-all;
}
